<div class="row align-item-center">
	<div class="col col-lg-1"></div>

	<div class="col col-sm-10">
		<h3>Reimbursements</h3>
		<div>



			<div class="form-row align-items-center">
				<div class="col-auto my-1 mb-2">
					<select class="custom-select mr-sm-2" id="filter">
						<option value="all">Filter By...</option>
						<br>
						<option value="all">All</option>
						<option value="pending">Pending</option>
						<option value="approved">Approved</option>
						<option value="denied">Denied</option>
					</select>
				</div>
				<div class="col-auto my-1 mb-2">
					<button type="button" class="btn btn-primary" id="addRequest">Add
						Request</button>
				</div>
			</div>

			<table class="table table-bordered">
				<thead class="thead-light">
					<tr>
						<th>Id</th>
						<th>Amount</th>
						<th>Type</th>
						<th>Status</th>
						<th>Submitted</th>
						<th>Resolved</th>
						<th>Author</th>
						<th>Resolver</th>
						<th class="text-center">View</th>
					</tr>
				</thead>
				<tbody class="bg-light">

				</tbody>
			</table>
		</div>
	</div>
	<div class="col col-lg-1"></div>
</div>