<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md-8">
        <div class="card" style="margin-top:75px;">
            <div class="card-header text-center">
            <h1>Reimbursement</h1>
            </div>
            <div class="card-body">
                <h4 class="card-title" id="id">Register</h4>
                	<table>
                		<tr>
                			<td class="mr-sm-2"><b>Amount: </b></td>
                			<td id="amount"></td>
                		</tr>
                		<tr>
                			<td class="mr-sm-2"><b>Type: </b></td>
                			<td id="type"></td>
                		</tr>
                		<tr>
                			<td class="mr-sm-2"><b>Status: </b></td>
                			<td id="status"></td>
                		</tr>
                		<tr>
                			<td class="mr-sm-2"><b>Submitted: </b></td>
                			<td id="submitted"></td>
                		</tr>
                		<tr>
                			<td class="mr-sm-2"><b>Author: </b></td>
                			<td id="author"></td>
                		</tr>
                		<tr>
                			<td class="mr-sm-2"><b>Resolved: </b></td>
                			<td id="resolved"></td>
                		</tr>
                		<tr>
                			<td class="mr-sm-2"><b>Resolver: </b></td>
                			<td id="resolver"></td>
                		</tr>
                	</table>
                	<div id="managerOptions">
                	</div>
                	<button type="button" class="btn btn-primary" id="back">Back</button>
            </div>
        </div>
    </div>
    
    <div class="col-md-2"></div>
</div>